.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.list_group {
  margin-bottom: 20px;
}

.btn-group {
  margin-bottom: 20px;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}

.dropdown-menu {
  width: 100%;
}
